.intro {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  .name {
    @media screen and (max-width: 600px) {
      font-size: 3rem;
    }
    @media screen and (min-width: 600px) {
      font-size: 5rem;
    }
    font-family: "Quintessential", cursive;
  }
}
